

body {
    font-family: 'Arial', sans-serif;
    background-color: lightskyblue;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.choices-container {
    display: flex;
    justify-content: center; /* aligns items on main axis */
    align-items: center;
    gap: 20px; /* separates container children */
    padding: 20px; /* adds pading to container */
}


.results-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.scoreboard-container, #playerResult, #computerResult, .round-result-container {
    border-style: solid;
    padding: 10px;
    gap: 10px;
}

.scoreboard-container{
    max width: 50px;
}

.info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}





button {
    font-size: 20px;
    font-weight: 700;
}

button.choice {
    background-color: lightseagreen;
    border-radius: 5px;
    padding: 15px;
}
